.img-extend-block {
	display: block;
}

.map-extend-block, .embed-extend-block, .chart-extend-block { /* these use iframes */
	height: 300px;
	border: 0;
}

.embed-extend-block, .chart-extend-block { /* things that need to be larger */
	height: 485px;
	max-height: 85vh;
}
.extend-block {
	width: 50%;
	float: right;
	margin: 1.2em;
}
.extend-block.fullwidth {
	width: 100%;
	float: none;
}
.extend-block.small {
	width: 25%;
}
@media all and (max-width: 750px) {
	.extend-block {
		width:100% !important;
		margin-left: 0;
		margin-right: 0;
	}
}

.dark-theme .extend-block.divider-extend-block {
	backgroud-color: #FFF;
}

.mapplaceholder, .videoplaceholder, .embedplaceholder, .chartplaceholder {
	display: none;
}
