/* global styles */

body, html {
	min-width: 100%;
	min-height: 100%;
	overflow: auto;
	border-color: #FFF; /* for grande menu arrow */
}

body.dark-theme {
	border-color: #333; /* for grande menu arrow */
}
* {
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	background-color: inherit;
	border-color: inherit;
}

.g-body * { /* grande.js doesn't like box-sizing, we need to turn it off */
	box-sizing: content-box;
}

/* the editor shell */

.page {
	width: 100%;
	min-height: 100%;
	text-align: left;
	padding: calc(2% + 10px);
	padding-top: calc(0.5% + 25px);
	z-index: -1;
	overflow: auto;
}

/* bugfixes for the editor */

hr {
	display:none; /* hide divider lines - they don't work correctly */
}

.text-menu {
	z-index: 99999999; /* the menu always floats on top */
}

article[contenteditable] * {
	background-color: inherit; /* make subheaders work correctly */
}

article[contenteditable] h2 {
	z-index: 0; /* override material-framework */
}
	
blockquote {
	margin: 1.5em;
}

@media all and (max-width:600px) {
	blockquote {
		width:100%;
		float: none; /* show the whole quote */
	}
}
ul, ol {
	margin: 1.5em;
	line-height: 1.5em;
}

/* special header styles */
h1, h2, h3 {
	clear: both; /* correct layout with blocks longer than the text */
}

[starred]::before {
	content: '\e818';
	font-family: "google-icons";
	color: #F44336;
	font-size: 1.2em;
	margin: 0.5em;
	margin-left: -1.7em;
}