/* text styling for the contenteditable region */

hr {
	display:none; /* hide divider lines - they don't work correctly */
}

.text-menu {
	z-index: 99999999; /* the menu always floats on top */
}

article[contenteditable] * {
	background-color: inherit; /* make subheaders work correctly */
}

article[contenteditable] h2 {
	z-index: 0; /* override material-framework */
}
	
blockquote {
	margin: 1.5em;
}

@media all and (max-width:600px) {
	blockquote {
		width:100%;
		float: none; /* show the whole quote */
	}
}
ul, ol {
	margin: 1.5em;
	line-height: 1.5em;
}

/* special header styles */
h1, h2, h3 {
	clear: both; /* correct layout with blocks longer than the text */
}

/* override defaults */

p[align=center] {
	text-align: center;
}

p[align=right] {
	text-align: right;
}

/* paragraph stars */

p:before {
	content: '\e95a';
	font-family: "material-design-icons";
	color: transparent;
	font-size: 1em;
	padding: 0.5em 0.5em 0.5em;
	margin-left: -2em;
	cursor: pointer;
	transition: .1s;
}

p:hover:not([starred]):before {
	color: #777;
}

[starred]::before {
	color: #e91e63;
}