/* global styles */

body, html {
	min-width: 100%;
	height: 100%;
	overflow: auto;
}

* {
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.g-body * { /* grande.js doesn't like box-sizing, we need to turn it off */
	box-sizing: content-box;
}

/* the editor shell */

.page {
	width:100%;
	background-color: #fff;
	height:calc(100vh - 50px);
	display: inline-block;
	text-align: left;
	padding:15px;
	padding-bottom: 40px;
	overflow: auto; /* horizontal scrolling */
	z-index: -1;
	box-shadow: unset;
}

.page-container {
	text-align: center;
	width: 100%;
}

/* bugfixes for the editor */

hr {
	display:none; /* hide divider lines - they don't work correctly */
}

.text-menu {
	z-index: 99999999; /* the menu always floats on top */
}

article[contenteditable] * {
	background-color: inherit; /* make subheaders work correctly */
}

article[contenteditable] h2 {
	top: -15px; /* compensante for padding in the page so that subheadings owrk */
	z-index: 0; /* override material-framework */
	margin-left: -15px; /* compensate for padding */
	margin-right: -15px; /* compensate for padding */
}

blockquote {
	margin: 1.5em;
}

@media all and (max-width:600px) {
	blockquote {
		width:100%;
	}
}
ul {
	margin: 1.5em;
	line-height: 1.5em;
}

/* special header styles */
h1 {
	margin-bottom: 0.2em;
	clear: both; /* correct layout with blocks longer than the text */
}
h2 {
	border-bottom: 1px solid currentColor;
	margin-bottom: 0.4em;
	clear: both; /* should not layer over blocks */
}

/* navbr styles */

.editor-toolbar {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	color: #444;
}
.dark-theme .editor-toolbar {
	background-color: #555;
	color: #F5F5F5;
}

.doc-name {
	vertical-align: middle;
}
.doc-name:not(:focus) {
	border: 0;
}
/* find in page */

#findinpage-input {
	vertical-align: middle;
	/* width of this is set in findinpage.js */
}

.highlight { background-color: yellow  !important}
.dark-theme .highlight { color: #000 !important}

/* printing */

@media print {
	.editor-toolbar, .start-button, .start-menu {
		display: none;
	}
}
