#start-menu-container {
	position: fixed;
	bottom: 24px;
	right: 24px;
}

#start-menu-container:not(:hover) .start-menu {
	height: 0;
	overflow: hidden;
}

.start-menu {
	width: 3.25em;
	z-index: 9999999;
	margin-bottom: 0.2em 0.15em;
}

.start-menu > a {
	margin: 0.2em; /* margin around the menu items */
	transition: all .3s;
}

#start-menu-container:not(:hover) .start-menu > a {
	transform: translateY(500%);
	opacity: 0;
	visibility: collapse;
}

.small-dialog {
	position: fixed;
	top: calc(50% - 75px);
	left: calc(50% - 150px);
}
.map-dialog {
	position: fixed;
	top: calc(50% - 100px);
	left: calc(50% - 200px);
}

.image-url-chooser {
	width: 100%;
	margin-top: 0.8em;
}

.map-lat-chooser, .map-long-chooser {
	width: 100%;
	margin-top: 0.8em;
}

.video-url-chooser, .embed-url-chooser {
	width: 100%;
	margin-top: 0.8em;
}