.start-button {
	position: fixed;
	bottom: 24px;
	right: 24px;
}

.start-menu {
	width: 3.25em;
	position: fixed;
	bottom: 94px;
	right: 24px;
	z-index: 9999999;
}

.start-menu > a {
	margin: 0.2em /* margin around the menu items */
}

.image-dialog {
	position: fixed;
	top: calc(50% - 75px);
	left: calc(50% - 150px);
}

.image-url-chooser {
	width: 100%;
	margin-top: 0.8em;
}

.map-dialog {
	position: fixed;
	top: calc(50% - 100px);
	left: calc(50% - 200px);
}
.map-lat-chooser, .map-long-chooser {
	width: 100%;
	margin-top: 0.8em;
}
