.img-extend-block {
	width: 50%;
	float: right;
	margin-left: 15px;
	margin-top: 0.66em;
	margin-bottom: 0.66em;
	display: block;
}

.map-extend-block {
	width:50%;
	min-width: 320px;
	height: 300px;
	float: right;
	border: 0;
	margin: 20px;
	border-top: 1px rgba(0, 0, 0, 0.5) solid;
}

@media all and (max-width:600px) {
	.extend-block {
		width:100%;
		margin-left:-15px; /* compensate for padding */
	}
}

.extend-block.divider-extend-block {
	width: 100%;
	height: 1px;
	background-color: #999;
	margin-top: 2em;
	margin-bottom: 2em;
}

.dark-theme .extend-block.divider-extend-block {
	backgroud-color: #FFF;
}
