.img-extend-block {
	max-width: 100vw;
	margin-left: -15px; /* images aren't affected by padding */
	margin-top: 0.66em;
	margin-bottom: 0.66em;
	display: block;
}

.map-extend-block {
	width:50%;
	min-width: 320px;
	height: 300px;
	float: right;
	border: 0;
	margin: 20px;
	border-top: 1px rgba(0, 0, 0, 0.5) solid;
}