body, html {
	min-width: 100%;
	min-height: 100%;
	overflow: auto;
}

* {
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

.themeable {
	background-color: #FFF;
	border-color: #FFF;
	color: rgba(0, 0, 0, 0.87);
}

.dark-theme .themeable {
	background-color: #333;
	border-color: #333;
	color: rgba(255, 255, 255, 0.87);
}

.theme-main-color {
	background-color: #009688;
	border-color: #009688;
	color: #fff;
}

.theme-accent-color {
	background-color: #e91e63;
	border-color: #e91e63;
	color: #fff;
}

.color-accent-color {
	color: #e91e63;
}

.splashscreen {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
}

/* splashscreens, the logo */

@keyframes pulse {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes pulse {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.logo-card {
    width: 265px;
    height: 360px;
    border-radius: 27px;
    font-size: 9em;
    color: #FFF;
    text-align: center;
    margin: auto;
}

.splashscreen.loading .logo-card {
		animation: pulse 1.75s infinite;
		-webkit-animation: pulse 1.75s infinite;
    position: relative;
		top: calc(50% - 216px);
}

.logo-icon {
    margin: 32px;
    font-size: 13em;
}

.corner {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 18px;
}
.folded-corner {
   content:"";
   position:absolute;
   top:0px;
   right:0px;
   border-style:solid;
   border-width:36px;
   border-color: #FFF #FFF #4DB6AC #4DB6AC;
   -webkit-border-bottom-left-radius:9px;
   -moz-border-radius:0 0 0 9px;
   border-radius:0 0 0 9px;
}

.dark-theme .folded-corner {
   border-color: #333 #333 #4DB6AC #4DB6AC;
}
.logo-card:after {
  content: "";
  position: absolute;
  top: 72px;
  right: 0;
  border-width: 0 68px 54px 0;
  border-style: solid;
  border-color: transparent #00796b;
}

.logo-card .icon-book {
    padding-top: 104px;
    display: inline-block;
}

.floating-message {
	position: fixed;
	top: 5%;
	left: 50%;
	z-index: 99999;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}


.splashscreen.error > .logo-card {
	margin: 8% 0 0 8%;
}
.splashscreen.error > .error-info{
	float: right;
	margin: 15% 25% 0 0;
}

.splashscreen.error > .error-info h2 {
	line-height: 2em;
}

@media all and (max-width: 1000px) {
	.splashscreen.error > .logo-card {
		display: none;
	}
	.splashscreen.error > .error-info {
		margin: 0;
		float: initial;
		margin: 50vh 15vw;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}
}


.splashscreen.error .error-info > * {
	padding-top: 0.5em;
	display: block;
}