* {
	margin: 0;
	padding: 0;
	border: 0;
}
body,
html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.toolbar.tabs {
	background-color: inherit;
}
#map-main {
	width: 100%;
	height: calc(100% - 48px);
}
.mapillary-popup .leaflet-popup-content {
	border-radius: 0 !important;
	padding: 0;
	padding-top: 0 !important;
}
.mapillary-popup .leaflet-popup-content {
	width: auto !important;
	margin: 0;
	border-radius: 0 !important;
}
.mapillary-popup > .leaflet-popup-content-wrapper > .leaflet-popup-content img:nth-child(1) {
	max-width: 100vw !important;
	max-height: 70vh;
}
.popup-infotext {
	padding: 0.33em;
}
.minimalUI .tabs {
	display: none;
}
.minimalUI #map-main {
	height: 100%;
}
