.toolbar {
	position: -webkit-sticky;
	position: sticky;
}

.preferences-container {
	padding: 1.5em;
	min-height: 100vh;
}

.preferences-container > .card {
	padding: 1em;
	margin: 1em auto;
	max-width: 800px;
}

.preferences-container > h1 {
	max-width: 800px;
	margin: auto;
}

.preferences-container > .card .switch {
	padding: 0 0.75em;
	line-height: 1em;
}

.preference-container {
	overflow: hidden;
	line-height: 1.75em;
}

.preference-container {
	padding: 0.5em;
}

.preferences-container > .card .dropdown-menu,
.preferences-container > .card .text-input,
.preferences-container > .card .slider {
	margin-top: -0.65em;
}