* {
	margin: 0;
	padding: 0;
	border: 0;
}

body, html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#map-main {
	width: 100%;
	height: calc(100% - 40px);
}

.maps-controller {
	height: 30px;
	width: 100%;
	background-color: #FFF;
	
}

.maps-controller > * {
	vertical-align: middle;
}

.maps-controller > .data-controller {
	width: calc(50% - 12px);
}