.doclist {
	margin-top: 0.66em;
	/* center the grid tiles (only in grid view) */
	
	text-align: center;
}

#document-create-button {
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
}

#search-input {
	width: 0px;
	padding: 0;
	transition: .2s;
	border-color: #fff;
	vertical-align: middle;
}

.find-in-page #search-input {
	display: inline-block;
	width: 200px;
}

.error {
	display: block;
	text-align: center;
	margin: 1.5em;
}

#search-no-matches {
	display: none;
}

@media all and (max-width: 575px) {
	.toolbar-label {
		display: none;
	}
	.find-in-page #search-input {
		width: 170px;
	}
	.find-in-page #mode-switch-button {
		display: none;
	}
}
/* cancel out the text-align:center applied to the doclist */

.document-item {
	text-align: left;
	cursor: pointer;
}

.document-tile {
	width: 32% !important;
	max-width: 18em !important;
	min-width: 15em !important;
}

.document-tile .tile-background {
	background-size: cover;
	background-position: center;
	height: 14em !important;
}
/* fallback if there is no image */

.document-tile .tile-background.no-background {
	background-image: url(document-icon.svg);
	background-size: auto;
	background-repeat: no-repeat;
	background-color: #333;
}
/* sidemenu */
/* this is due to a bug in material-framework */

.sidemenu {
	z-index: 1001;
}