.doclist {
	margin-top: 0.66em;
}

.doclist > li {
	margin: auto;
	opacity: 1;
	transition: 0.2s;
	cursor: pointer;
}

.list-header {
	border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
	background-color: white;
	z-index: 99999;
}

#document-create-button {
	position: fixed;
	bottom: 1.5em;
	right: 1.5em;
}

#search-input {
	width: 0px;
	padding: 0;
	transition: .2s;
	border-color: #fff;
	vertical-align: middle;
}

.find-in-page #search-input {
	display: inline-block;
	width: 200px;
}

.error {
	display: block;
	text-align: center;
	margin: 1.5em;
}

#search-no-matches {
	display: none;
}

.splashscreen {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background-color: #fff;
	box-sizing: border-box;
}

.splashscreen * {
	box-sizing: border-box;
}
/* the logo */

@keyframes pulse {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes pulse {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.logo-card {
    width: 265px;
    height: 360px;
    border-radius: 27px;
    font-size: 9em;
    color: #FFF;
    text-align: center;
    margin: auto;
    position: relative;
		top: calc(50% - 216px);
		animation: pulse 1.75s infinite;
		-webkit-animation: pulse 1.75s infinite;
}

.logo-icon {
    margin: 32px;
    font-size: 13em;
}

.corner {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 18px;
}
.folded-corner {
   content:"";
   position:absolute;
   top:0px;
   right:0px;
   border-style:solid;
   border-width:36px;
   border-color: #FFF #FFF #4DB6AC #4DB6AC;
   -webkit-border-bottom-left-radius:9px;
   -moz-border-radius:0 0 0 9px;
   border-radius:0 0 0 9px;
}

.dark-theme .folded-corner {
   border-color: #333 #333 #4DB6AC #4DB6AC;
}
.logo-card:after {
  content: "";
  position: absolute;
  top: 72px;
  right: 0;
  border-width: 0 68px 54px 0;
  border-style: solid;
  border-color: transparent #00796b;
}

.logo-card .icon-book {
    padding-top: 104px;
    display: inline-block;
}