body,
html {
	min-height: 100%;
}

#editortooltip-menu {
	position: fixed;
	/* won't work correctly when scrolling, but needed for getBoundingClientRect() and x-overflow working properly */
	
	top: -999px;
	left: -999px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
	border-radius: 4px;
	transition: 0.1s opacity, 0.1s margin-top;
	padding: 0.3em;
	/* float on top of the editor toobar */
	
	z-index: 9999;
}
/* the menu needs to be below the text so the browser tooltip doesn't cover it up */

.mobilesafari #editortooltip-menu {
	margin-top: 85px;
}
/* make the tooltip stand out from the background */

.dark-theme #editortooltip-menu {
	background: #222;
}

#editortooltip-menu .menu-group {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	max-width: 42px;
	transition: 0.75s;
	vertical-align: middle;
}
/* touchscreen devices lack a :hover state to show the other items */

.mobilesafari #editortooltip-menu .menu-group {
	max-width: 999px;
}

#editortooltip-menu .menu-group:hover {
	max-width: 999px;
}

#editortooltip-menu .menu-group > div {
	display: inline-block;
	padding: 0.5em;
	cursor: pointer;
	vertical-align: middle;
}