/* text styling for the contenteditable region */

article[contenteditable] h2 {
	z-index: 0;
	/* override material-framework */
}

blockquote {
	margin: 1.5em;
}

@media all and (max-width: 600px) {
	blockquote {
		width: 100%;
		float: initial;
		/* show the whole quote */
	}
}

ul,
ol {
	margin: 1.5em;
	line-height: 1.5em;
}
/* special header styles */

h1,
h2,
h3 {
	clear: both;
	/* correct layout with blocks longer than the text */
	
	position: static;
	/* we don't want the default sticky positioning - it looks weird on iOS */
}

#document-editor .divider {
	margin: 1em 0;
}

/* override defaults */

#document-editor {
	-moz-osx-font-smoothing: auto;
}

p {
	font-size: 1em;
}

p[align=center] {
	text-align: center;
}

p[align=right] {
	text-align: right;
}
/* paragraph stars */

#document-editor p:before,
#document-editor h1:before,
#document-editor h2:before,
#document-editor h3:before,
#document-editor br:before,
#document-editor div:before,
#document-editor li:before {
	content: '\e95a';
	font-family: "material-design-icons";
	color: transparent;
	font-size: 1rem;
	padding: 0.5rem 0.5rem 0.5rem;
	margin-left: -2rem;
	cursor: pointer;
	transition: .1s;
	/* reset any styles on parent element */
	
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: none;
	width: 1rem;
	height: 1rem;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1rem;
	vertical-align: middle;
	float: left;
	/* this should always be on the left, regarless of how the text is aligned */
}
/* since these have the item numbers or bullets to the left of them, they need to have more negative margin in order to end up in the left gutter */

#document-editor li:before {
	margin-left: -3.65rem;
}

#document-editor *:hover:not([starred]):before {
	color: #777;
}

#document-editor *[starred]::before {
	color: #e91e63;
}

/* custom lines through text - similar to http://alistapart.com/article/customunderlines */

#document-editor u, #document-editor strike {
    text-decoration: none;
    background-image: linear-gradient(to bottom, transparent 80%, currentColor 0%);
    background-size: 1px 3px;
    background-position: 0px 0.95em;
    background-repeat: repeat-x;
}

#document-editor strike {
    background-position: 0px 0.5em;
}


/* blocks - there isn't really a good place to put this */

.extend-block {
	width: 50%;
	float: right;
	margin: 1.2em;
}

@media all and (max-width: 750px) {
	.extend-block {
		width: 100% !important;
		margin-left: 0;
		margin-right: 0;
	}
}