.map-extend-block {
	height: 500px;
	max-height: calc(100vh - 120px);
	border: 0;
}

.mapplaceholder {
	display: none;
}
/* the dialog */
/* note: a lot of this sizing is repeated in maps.js due to a bug in mobile safari. When updating this css, make sure to update what is in maps.js as well. */

.map-dialog {
	position: fixed;
	top: calc(50% - 100px);
	left: calc(50% - 200px);
	width: 60vw;
	min-width: 320px;
	max-width: 600px;
	height: 60vh;
	min-height: 425px;
	max-height: 850px;
}

#map-search {
	width: 100%;
	margin: 0.6em 0;
}

.map-dialog #map-results {
	min-height: 32vh;
	/* the attribution should stick near the bottom */
}

.map-dialog #map-results li {
	cursor: pointer;
}

.map-dialog .dialog-content > .secondary-text,
.map-dialog .dialog-content > #map-results > .secondary-text {
	/* this applies to the attribution and the no results/error messages, but not the text blocks in the list items */
	
	display: block;
	margin: 1em 1.5em;
}