#start-menu-container {
	position: fixed;
	bottom: 24px;
	right: 24px;
	background-color: transparent;
}

#start-menu-container:not(:hover) .start-menu {
	height: 0;
	overflow: hidden;
}

/* Icon animation */
#start-menu-container .start-button i {
	transition: all 0.3s;
}

#start-menu-container:hover .start-button i {
	-webkit-transform: rotate(225deg) scale(1.15);
	transform: rotate(225deg) scale(1.15);
}

.start-menu {
	width: 3.25em;
	z-index: 9999999;
	padding-bottom: 0.5em;
}

.start-menu > a {
	margin: 0.5em 0.3em;
	transition: all .3s;
}

@media (max-height: 520px) {
	.start-menu {
		padding-bottom: 0.25em;
	}
	.start-menu > a{
		margin: 0.25em 0.3em;
	}
}
#start-menu-container .start-menu > a {
	pointer-events: none;
	opacity: 0;
	-webkit-transform: translateY(300%) scale(0.25) rotate(360deg);
	transform: translateY(300%) scale(0.25) rotate(360deg);
	transition: all 200ms cubic-bezier(0.25, 0.25, 0, 1) 0s;
}

#start-menu-container:hover .start-menu > a {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: scale(1) rotate(360deg);
	transform: scale(1) rotate(360deg);
}

/* tooltips */

#start-menu-container [data-tooltip]::before {
	left: -100%;
	top: 0;
}
