#start-menu-container {
	position: fixed;
	bottom: 24px;
	right: 24px;
	background-color: transparent;
}

#start-menu-container:not(:hover) .start-menu {
	height: 0;
	overflow: hidden;
}

/* Icon animation */
#start-menu-container .start-button i {
	transition: all 0.3s;
}

#start-menu-container:hover .start-button i {
	-webkit-transform: rotate(225deg) scale(1.15);
	transform: rotate(225deg) scale(1.15);
}

.start-menu {
	width: 3.25em;
	z-index: 9999999;
	padding-bottom: 0.5em;
}

.start-menu > a {
	margin: 0.5em 0.3em;
	transition: all .3s;
}

@media (max-height: 520px) {
	.start-menu {
		padding-bottom: 0.25em;
	}
	.start-menu > a{
		margin: 0.25em 0.3em;
	}
}
#start-menu-container .start-menu > a {
	pointer-events: none;
	opacity: 0;
	transform: translateY(300%) scale(0.25) rotate(360deg);
	transition: all 200ms cubic-bezier(0.25, 0.25, 0, 1) 0s;
}

#start-menu-container:hover .start-menu > a {
	pointer-events: auto;
	opacity: 1;
	transform: scale(1) rotate(360deg);
}

.small-dialog {
	position: fixed;
	top: calc(50% - 75px);
	left: calc(50% - 150px);
}
.large-dialog {
	position: fixed;
	top: calc(50% - 300px);
	left: calc(50% - 325px);
}
.map-dialog {
	position: fixed;
	top: calc(50% - 100px);
	left: calc(50% - 200px);
}

.image-url-chooser {
	width: 100%;
	margin-top: 0.8em;
}

.map-lat-chooser, .map-long-chooser {
	width: 100%;
	margin-top: 0.8em;
}

.video-url-chooser, .embed-url-chooser {
	width: 100%;
	margin-top: 0.8em;
}

.image-edit-dialog {
	width: 60em;
	max-width: 100vw;
}

.image-edit-dialog .dialog-content {
	margin-top: 1em;
}

.image-edit-dialog .controls {
	width: 40%;
	float: left;
}

.image-edit-dialog label {
	width: 40%;
	overflow: hidden;
	display: inline-block;
}

.image-edit-dialog input {
	display: inline-block;
	width: 50%;
}

#image-editor-preview {
	width: 50%;
	height: 100%;
	display: inline-block;
}

@media all and (max-width: 550px) {
	.image-edit-dialog {
		height: 100vh;
		max-height: none !important;
	}
	.image-edit-dialog .controls {
		width: 100%;
		float: initial;
	}
	#image-editor-preview {
		width: 100%;
		margin-top: 0.5em;
	}
}