.infocard-shell {
	width: 40%;
	min-width: 200px;
	max-width: 550px;
	height: calc(100% - 65px);
	overflow: auto;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 99;
	transition: .15s all;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26),
							0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.infocard-shell * {
	max-width: 100%;
}

/* categories */

.InfoCard-category > li {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26),
	            0 2px 10px 0 rgba(0, 0, 0, 0.16);
	height: 1%;
	overflow: auto;
	margin: 1em 0;
	list-style: none;
}

.InfoCard-category > li > img {
	float: right;
	max-width: 50%;
	margin-left: 1.5em;
}

.InfoCard-category > li > h2 {
	padding: 0 1em;
	float: left;
	cursor: pointer; /* these are clickable - they take you to wikipedia article summaries */
}

.InfoCard-category > li > p {
	clear: left;
	padding: 0.5em 1em;
}

/* tabs */

.InfoCard-tabs {
		padding: 0px;
		margin: 0px;
		width: 100%;
		overflow: auto;
		white-space: nowrap;
}

.InfoCard-selected { /* selected tab */
	border-bottom: 2px solid currentcolor;
}

.InfoCard-tabs li {
	line-height: 2.857em;
	height: 2.857em;
	display: inline-block;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px 1em;
	white-space: nowrap;
	font-size: 0.875em
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

/* wikipedia article summaries */

.InfoCard-link-icon {
	display: none;
}

.InfoCard-type-a {
	padding: 1em;
	margin-top: -1em;
}
.InfoCard-type-a .InfoCard-image-container {
	display: none; /* the images show up in the image search results anyway */
}

.InfoCard-entity {
	padding: 0;
	margin: 0;
	padding-left: 1em;
	font-size: 1em;
	line-height: 3em;
	font-weight: 400;
	background-color: inherit;
	z-index: 99;
	color: rgba(0, 0, 0, 0.54);
}

.InfoCard-links {
	margin-top: 1em;
}

/* lists for wikipedia articles */

.InfoCard-list > li {
	width: 100%;
	padding: 0.33em;
	border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
	list-style: none;
}

.InfoCard-list > li > label, .InfoCard-list > li > span {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

/* shrink font sizes for smaller screens */

@media all and (max-width: 700px) {
	.infocard-shell {
		font-size: 0.9em;
	}
}

/* errors */

.infocard-shell .error-message {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

/* image insert button */

.research-insert-button {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	margin: 10px;
	display: none;
}

/* color circles */

.InfoCard-color-display {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 15px;
	border: 3px solid rgba(0, 0, 0, 0.1); /* make sure the color stands out from the background */
	float: left;
	margin: 2em;
}

.zci--color-codes .column1 p {
	padding: 0.2em 0;
}

.zci--color-codes .column1 {
	padding: 2em 3em;
}

a.tx-clr--dk2, .separator { /* hide the links to tineye */
	display: none;
}

.zci--color-codes .column2 {
	display: none; /* there isn't a good way to display this, so hide it */
}

/* duckduckgo credit link */

.InfoCard-credit-link {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 999999;
	padding: 0.33em;
	background: rgba(255, 255, 255, 0.5);
}

.InfoCard-credit-link::before {
content: "";
width: 2em;
height: 1.4em;
vertical-align: middle;
display: inline-block;
background-image: url("../css/ddg_logo.svg");
background-size: 2em auto;
}

/* google images results */

.images-results {
	width: 100%;
	height: 200px;
	overflow: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.images-results img {
	height: 100%;
	width: auto;
}

.images-results * {
	display: inline;
}

.gimage-result-container {
	position: relative;
}
.gimage-result-title {
	display: block;
	position: absolute;
	bottom: -150px;
	left: 0;
	width: 100%;
	max-width: 100%;
	padding: 0.66em;
	transition: .2s;
	white-space: normal;
}

.gimage-result-container:hover .gimage-result-title {
	bottom: 0;
}

#googleimages-branding img {
	height: 35px;
	width: auto;
	vertical-align: middle;
}

#googleimages-branding {
	padding: 0.66em;
	text-align: right;
}