.chart-dialog {
	width: 80%;
	max-width: 800px;
}

.table-editor {
	height: 100%;
	width: 70%;
  position: relative;
  white-space: nowrap;
	float: right;
}

table {
	display: inline-block;
	width: 100%;
	height: auto;
	overflow: auto;
	font-size: 90%;
	border-collapse:collapse;
}

td, th {
	/* below property isn't needed, and it causes weird bugs in webkit */
	/*display: -webkit-flex; */
	display: flex;
	border: 1px rgba(0, 0, 0, 0.1) solid;
	padding: 0.5em;
	min-width: 90px;
	min-height: 2.1em;
	text-align: center;
	overflow: auto;
	outline: 0;
	-webkit-flex: 1;
	flex: 1;
	-webkit-flex-flow: row column;
	flex-flow: row column;
	margin-top: -1px;
	margin-left: -1px;
}
td:focus, th:focus {
	border-color: #e91e63 ;
}

thead th {
	font-weight: 500;
}

tr {
	display: -webkit-flex;
	display: flex;
	min-width: 375px;
	-webkit-flex-flow: row column;
	flex-flow: row column;
	-webkit-flex: 1;
	flex: 1;
}

.add-button {
	width: 2em;
	height: 2em;
	text-align: center;
	background: #bdbdbd;
	vertical-align: top;
	cursor: pointer;
	display: inline-block;
	padding: 0.35em;
}

.add-row {
	position: absolute;
	bottom: 0;
	left: 47%
}

.add-column {
	bottom: 50%;
	right: 0;
	position: absolute;
}
.add-button:hover {
	background: #9e9e9e;
}

.add-row {
	margin-top: -25px;
}

thead, tbody {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}


tbody {
	height: 340px;
}

/* dark theme */

.dark-theme .add-button {
	background: #222;
}

.dark-theme .add-button:hover {
	background: #111;
}

.chart-type-chooser {
	width: auto;
	height: 100%;
	float: left;
	margin: 1em;
}

.chart-type-chooser > .item {
	margin: 1em 0;
}