/* global styles, editor elements */

body, html {
	min-width: 100%;
	min-height: 100%;
	overflow: auto;
}

* {
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

.themeable {
	background-color: #FFF;
	border-color: #FFF;
	color: rgba(0, 0, 0, 0.87);
}

.dark-theme .themeable {
	background-color: #333;
	border-color: #333;
	color: rgba(255, 255, 255, 0.87);
}

.theme-main-color {
	background-color: #009688;
	border-color: #009688;
	color: #fff;
}

.theme-accent-color {
	background-color: #e91e63;
	border-color: #e91e63;
	color: #fff;
}

/* the editor */

#document-editor {
	width: 100%;
	min-height: 80vh;
	text-align: left;
	padding: calc(2% + 10px);
	padding-top: calc(0.5% + 30px);
}


.dark-theme #document-editor *::selection {
  background: #222;
}
.dark-theme #document-editor *::-moz-selection {
  background: #222;
}

/* navbr styles */

.editor-toolbar {
	background-color: #f4f4f4;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	color: #444;
	box-shadow: none; /* override framework */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}
.dark-theme .editor-toolbar {
	background-color: #555;
	color: #F5F5F5;
}

body.has-toolbar {
	padding-top: 3.2em;
}
.doc-name {
	vertical-align: middle;
	width: 50%;
}
.doc-name:not(:focus) {
	border: 0;
}
/* find in page */

.navbar-to-right {
	position: absolute;
	right: 0;
	background-color: inherit;
	padding: 0 1rem;
}
#findinpage-input {
	vertical-align: middle;
	/* width of this is set in findinpage.js */
}

#findinpage-input.no-matches {
	color: #f44336;
	border-color: #f44336;
}
.findinpage {
	position: relative;
	vertical-align: middle;
}

.findinpage-count {
	position: absolute;
	right: 0;
	top: 15%;
	background-color: #f4f4f4;
	background-clip: padding-box;
	padding-left: 0.66em;
}
.dark-theme .findinpage-count {
	background-color: #555;
}
.highlight { background-color: #fdd835 !important}
.dark-theme .highlight { color: #000 !important}

/* printing */

@media print {
	[noprint] {
		display: none !important;
	}
	.offline-ui {
		display: none !important; /* we can't add a noprint to this */
	}
	.page-container {
		height: auto;
	}
}

.deletion-button {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px;
	display: none;
}

.splashscreen {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
}

/* the logo */

@keyframes pulse {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes pulse {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.logo-card {
    width: 295px;
    height: 400px;
    border-radius: 30px;
    font-size: 10em;
    color: #FFF;
    text-align: center;
    margin: auto;
    position: relative;
		top: calc(50% - 240px);
		animation: pulse 1.75s infinite;
		-webkit-animation: pulse 1.75s infinite;
}

.logo-icon {
    margin: 35px;
    font-size: 14em;
}

.corner {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 20px;
}
.folded-corner {
   content:"";
   position:absolute;
   top:0px;
   right:0px;
   border-style:solid;
   border-width:40px;
   border-color: #FFF #FFF #4DB6AC #4DB6AC;
   -webkit-border-bottom-left-radius:10px;
   -moz-border-radius:0 0 0 10px;
   border-radius:0 0 0 10px;
}

.dark-theme .folded-corner {
   border-color: #333 #333 #4DB6AC #4DB6AC;
}
.logo-card:after {
  content: "";
  position: absolute;
  top: 80px;
  right: 0;
  border-width: 0 75px 60px 0;
  border-style: solid;
  border-color: transparent #00796b;
}

.logo-card .icon-book {
    padding-top: 115px;
    display: inline-block;
}