/* editor ui elements */

#document-editor {
	width: 100%;
	min-height: 80vh;
	text-align: left;
	padding: calc(2% + 10px);
	padding-top: calc(0.5% + 30px);
}


.dark-theme #document-editor *::selection {
  background: #222;
}
.dark-theme #document-editor *::-moz-selection {
  background: #222;
}

/* navbr styles */

.editor-toolbar {
	background-color: #f4f4f4;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	color: #444;
	box-shadow: none; /* override framework */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}
.dark-theme .editor-toolbar {
	background-color: #555;
	color: #F5F5F5;
}

body.has-toolbar {
	padding-top: 3.2em;
}
.doc-name {
	vertical-align: middle;
	width: 50%;
}
.doc-name:not(:focus) {
	border: 0;
	text-overflow: ellipsis; /* this causes weird issues if it is applied while the input is focused */
}
/* find in page */

.navbar-to-right {
	position: absolute;
	right: 0;
	background-color: inherit;
	padding-right: 1rem;
}
#findinpage-input {
	vertical-align: middle;
	/* width of this is set in findinpage.js */
}

#findinpage-input.no-matches {
	color: #f44336;
	border-color: #f44336;
}
.findinpage {
	position: relative;
	vertical-align: middle;
}

.findinpage-count {
	position: absolute;
	right: 0;
	top: 15%;
	background-color: #f4f4f4;
	background-clip: padding-box;
	padding-left: 0.66em;
}
.dark-theme .findinpage-count {
	background-color: #555;
}
.highlight { background-color: #fdd835 !important}
.dark-theme .highlight { color: #000 !important}

/* printing */

@media print {
	[noprint] {
		display: none !important;
	}
	.offline-ui {
		display: none !important; /* we can't add a noprint to this */
	}
	.page-container {
		height: auto;
	}
}

/* buttons */

.deletion-button, .edit-button {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px;
	display: none;
}

.edit-button {
	margin-left: -2.1em;
}

