body, html {
    overflow-x: hidden;
}

.hero {
	position: relative;
	height: 80vh;
	min-height: 300px;
	display: block;
	padding: 1em;
	background-size: cover;
	/*image - path is relative to css file*/
	
	background-image: url(images/hero.jpg);
}

.hero-content {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-size: 1.5em;
	text-align: center;
}

@media all and (max-width: 400px) {
	.hero-content {
		font-size: 1em;
	}
}

.hero-content > .hero-buttons {
	margin: 1.5rem;
	width: 70vw;
}

.hero .button {
	font-size: 1rem;
	margin-right: 0.5em;
}

.selectedText {
	background: #009688;
	color: white;
}

.button.signin-button {
	background: #0782E3 !important;
	color: #fff !important;
}

footer {
	margin: 1em;
	line-height: 1.7em;
}

footer a {
	display: block;
	color: rgba(0, 0, 0, 0.54);
}

/* features */

.feature-container {
	padding: 1em 1.5em;
	text-align: center;
}

.image-fade {
	position: relative;
	overflow: hidden;
	margin-top: -3em;
	max-width: 1439px;
	margin: auto;
}

.image-fade:before {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	background: transparent linear-gradient(rgba(255, 255, 255, 0) 84%, #fff);
	z-index: 0;
}

.image-fade img {
	width: 100%;
}
/* feature blocks */

.feature-block {
	font-size: 16px;
	display: inline-block;
	width: 20%;
	margin: 3.25em 3em;
	vertical-align: top;
}

@media all and (max-width: 850px) {
	.feature-block {
		width: 40%;
	}
}

@media all and (max-width: 525px) {
	.feature-block {
		width: 80%;
		margin: 3em auto;
	}
}

.feature-block > h1 {
	color: #009688;
}

.feature-block p {
	font-size: 1em;
	margin-top: 0.5em;
	text-align: left;
}

.small-hero {
	height: 20vh;
	min-height: 260px;
	text-align: center;
	padding: 3em;
	font-size: 0.75em;
	background-image: none;
}
/* responsive images - the <picture> element isn't supported in safari yet */

img[size=medium],
img[size=small] {
	display: none;
}

@media all and (max-width: 800px) {
	img[size=medium] {
		display: inline;
	}
	img[size=large],
	img[size=small] {
		display: none;
	}
}

@media all and (max-width: 350px) {
	img[size=small] {
		display: inline;
	}
	img[size=large],
	img[size=medium] {
		display: none;
	}
}